{:paths ["src"]

 :aliases
 {:robot
  {:exec-fn robot.main/main}}

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}

        org.clojure/core.async {:mvn/version "1.8.741"}

        babashka/process {:mvn/version "0.6.23"}

        ;; Logging (to avoid SLF4J warnings)
        org.slf4j/slf4j-simple {:mvn/version "2.0.9"}

        ;; Pi4J Core (provides Context etc)
        com.pi4j/pi4j-core {:mvn/version "2.5.0"}

        ;; Raspberry Pi-specific platform plugin
        com.pi4j/pi4j-plugin-raspberrypi {:mvn/version "2.5.0"}

        ;; linuxfs-i2c
        com.pi4j/pi4j-plugin-linuxfs {:mvn/version "2.5.0"}

        ;; PiGPIO plugin for I2C, PWM, GPIO
        com.pi4j/pi4j-plugin-pigpio {:mvn/version "2.5.0"}}}


