{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}

        ;; Logging (to avoid SLF4J warnings)
        org.slf4j/slf4j-simple {:mvn/version "2.0.9"}

        ;; Pi4J Core (provides Context etc)
        com.pi4j/pi4j-core {:mvn/version "2.3.0"}

        ;; Raspberry Pi-specific platform plugin
        com.pi4j/pi4j-plugin-raspberrypi {:mvn/version "2.3.0"}

        ;; PiGPIO plugin for I2C, PWM, GPIO
        com.pi4j/pi4j-plugin-pigpio {:mvn/version "2.3.0"}}}


